# explicit language override
git/_gitconfig linguist-language=gitconfig
git/_gitignore linguist-language=gitignore
shell/curlrc linguist-language=curlrc
shell/inputrc linguist-language=inputrc
tmux/tmux.conf linguist-language=sh
