* text=auto

git/gitconfig linguist-language=gitconfig
git/gitignore linguist-language=gitignore
shell/curlrc linguist-language=curlrc
shell/inputrc linguist-language=inputrc
tmux/tmux.conf linguist-language=sh
