* text=auto

.gitattributes export-ignore
.github/ export-ignore

git/gitconfig linguist-language=gitconfig
git/gitignore linguist-language=gitignore
shell/curlrc linguist-language=curlrc
shell/inputrc linguist-language=inputrc
tmux/tmux.conf linguist-language=sh
vscode/*.json linguist-language=jsonc
