/* Firefox userContent.css */

/* -------------------------------------------------------------------------- */
/* Private Browsing Tab                                                       */
/* -------------------------------------------------------------------------- */

@-moz-document url("about:privatebrowsing") {
  /* Hide Firefox logo and wordmark. */
  .logo-and-wordmark {
    display: none !important;
  }

  /* Hide search box. */
  .search-inner-wrapper {
    display: none !important;
  }

  /* Hide private browsing myths link. */
  #private-browsing-myths {
    display: none !important;
  }
  .info p {
    margin-bottom: 0 !important;
  }

  /* Hide Mozilla VPN promotional messages. */
  #private-browsing-vpn-text,
  #private-browsing-vpn-link {
    display: none !important;
  }
}
