/* Firefox userContent.css */

@-moz-document url("about:privatebrowsing") {
  /* Minimize Private Browsing tab. */
  html.private #search-banner,
  html.private .showPrivate {
    display: none !important;
  }
  .promo {
    display: none !important;
  }
  html.private body {
    background-image:
      url("chrome://global/skin/icons/indicator-private-browsing.svg"),
      url("chrome://browser/skin/indicator-private-browsing.svg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 48px !important;
  }
}
