/* Firefox userChrome.css */

/* -------------------------------------------------------------------------- */
/* Address Bar                                                                */
/* -------------------------------------------------------------------------- */

/* Disable revamped address bar. */
#urlbar[breakout][breakout-extend] {
  top: 5px !important;
  left: 0 !important;
  width: 100% !important;
  padding: 0 !important;
}
[uidensity="compact"] #urlbar[breakout][breakout-extend] {
  top: 3px !important;
}
[uidensity="touch"] #urlbar[breakout][breakout-extend] {
  top: 4px !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding: 0 !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-background {
  animation: none !important;
  box-shadow: none !important;
}

/* Minimize One-Off Searches in address bar. */
#urlbar .search-one-offs:not([hidden]) {
  display: flex !important;
  padding-block: 7px !important;
}
#urlbar .search-one-offs .search-panel-header {
  display: none !important;
}

/* -------------------------------------------------------------------------- */
/* Application Menu                                                           */
/* -------------------------------------------------------------------------- */

/* Hide Firefox Accounts and Sync. */
#appMenu-fxa-status,
#appMenu-fxa-status + toolbarseparator {
  display: none !important;
}

/* Hide "Protections Dashboard". */
#appMenu-protection-report-button,
#appMenu-tp-separator {
  display: none !important;
}

/* Hide "Logins and Passwords". */
#appMenu-logins-button {
  display: none !important;
}

/* Hide "What's New". */
#appMenu-whatsnew-button {
  display: none !important;
}
