/* Firefox userChrome.css */

/* -------------------------------------------------------------------------- */
/* ESR                                                                        */
/* -------------------------------------------------------------------------- */

/* Disable revamped address bar. */
#urlbar[breakout][breakout-extend] {
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
  left: 0 !important;
  width: 100% !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding: 0 !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-background {
  animation: none !important;
}

/* Minimize One-Off Searches in address bar. */
#urlbar .search-one-offs:not([hidden]) {
  display: flex !important;
  padding-block: 7px !important;
}
#urlbar .search-panel-header {
  display: none !important;
}

/* Hide application menu items. */
#appMenu-fxa-status,
#appMenu-fxa-status + toolbarseparator {
  display: none !important;
}
#appMenu-protection-report-button,
#appMenu-tp-separator {
  display: none !important;
}
#appMenu-logins-button {
  display: none !important;
}
#appMenu-whatsnew-button {
  display: none !important;
}

/* Always show tab icon. */
.tab-icon-image:not([src], [pinned], [crashed], [busy]) {
  display: -moz-inline-box !important;
  list-style-image: url("chrome://branding/content/icon32.png") !important;
}

/* -------------------------------------------------------------------------- */
/* Proton UI                                                                  */
/* -------------------------------------------------------------------------- */

@media (-moz-proton) {
  /* Disable revamped address bar. */
  #urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
  }
  #urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding: var(--urlbar-container-padding) !important;
  }
  #urlbar[breakout][breakout-extend] > #urlbar-background {
    animation: none !important;
  }

  /* Minimize One-Off Searches in address bar. */
  #urlbar .search-one-offs:not([hidden]) {
    display: flex !important;
    padding-block: 6px !important;
  }
  [uidensity="touch"] #urlbar .search-one-offs:not([hidden]) {
    padding-block: 11px !important;
  }
  #urlbar .search-panel-header {
    display: none !important;
  }
  #urlbar .searchbar-engine-one-off-item {
    margin-inline-start: 0 !important;
  }

  /* Hide application menu items. */
  #appMenu-fxa-status2,
  #appMenu-fxa-separator {
    display: none !important;
  }
  #appMenu-passwords-button {
    display: none !important;
  }
}
