"*":
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "background-tips"
      "dalek"
      "deprecation-cop"
      "dev-live-reload"
      "exception-reporting"
      "incompatible-packages"
      "metrics"
      "package-generator"
      "styleguide"
      "timecop"
      "update-package-dependencies"
      "welcome"
    ]
    telemetryConsent: "no"
    uriHandlerRegistration: "never"
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "file-icons":
    forceShow: true
    onChanges: true
  "highlight-selected":
    onlyHighlightWholeWords: false
  "line-ending-selector":
    defaultLineEnding: "LF"
  "markdown-preview":
    useGitHubStyle: true
  "omni-ruler":
    columns: [
      "80"
      "100"
      "120"
      "200"
    ]
  pigments:
    markerType: "native-dot"
    mergeColorDuplicates: true
  "spell-check":
    locales: [
      "en-US"
    ]
