"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "styleguide"
      "timecop"
      "welcome"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "file-icons":
    forceShow: true
    onChanges: true
  linter:
    lintOnFly: false
  pigments:
    markerType: "dot"
    mergeColorDuplicates: true
