packages: [
  "editorconfig"
  "file-icons"
  "highlight-selected"
  "language-docker"
  "language-typescript-grammars-only"
  "linter"
  "linter-coffeelint"
  "linter-csslint"
  "linter-docker"
  "linter-flake8"
  "linter-htmlhint"
  "linter-js-yaml"
  "linter-jshint"
  "linter-jsonlint"
  "linter-less"
  "linter-php"
  "linter-scss-lint"
  "linter-shellcheck"
  "linter-tslint"
  "linter-write-good"
  "linter-xmllint"
  "minimap"
  "omni-ruler"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
  "pretty-json"
  "sort-lines"
]
